%ic {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class*="icon-"] {
    &:before {
        @extend %ic;
        display: block;
    }
}

// Сюди додавати before з content
.icon-shortcut:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e903";
}
.icon-call:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-close-card:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-linkedIn:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-view-list:before {
  content: "\e90c";
}
.icon-grid:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90e";
}
.icon-arrow:before {
  content: "\e90f";
}
.icon-slider-arrow:before {
  content: "\e910";
}
.icon-heart:before {
  content: "\e911";
}
.icon-compare:before {
  content: "\e912";
}
.icon-share:before {
  content: "\e913";
}
.icon-card:before {
  content: "\e914";
}
.icon-heart1:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-profile:before {
  content: "\e917";
}