@use 'sass:math';

/*========= ФУНКЦІЯ ПЕРЕТВОРЕННЯ ЗНАЧЕННЯ В REM ===========*/
@function rem($valueInPixels, $baseFontSize: 16) {
    // Перетворення значення в REM
    $remValue: math.div($valueInPixels, $baseFontSize);
    @return #{$remValue}rem;
}

/*========= ФУНКЦІЯ ПЕРЕТВОРЕННЯ ЗНАЧЕННЯ В EM ===========*/
@function em($valueInPixels, $baseFontSize: 16) {
    // Перетворення значення в EM
    $emValue: math.div($valueInPixels, $baseFontSize);
    @return #{$emValue}em;
}

/*====================ПІД'ЄДНАННЯ ШРИФТІВ======================*/
/*&display=swap дадати якщо під'єднувати через плагін*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap);
@import "fonts"; /*якщо є шрифти локально (іконковий шрифт враховується)*/
@import "icons"; /*іконковий шрифт*/
/*--------------ШРИФТ ЗА ЗАМОВЧУВАННЯМ------------*/
$fontFamily: 'Poppins';
$fontSize: rem(16);
/*====================ГОЛОВНІ КОЛЬОРИ======================*/
$aquamarine: #2EC1AC;
$lightRed: #E97171;
$mainColor: #616161;
$Grey: #333333;
$darkGrey: #3A3A3A;
$lightGrey: #B0B0B0;
$gold: #B88E2F;
$blackColor: #000;
$whiteColor: #FFF;
//=============НАЛАШТУВАННЯ АДАПТИВНОЇ СІТКИ==============//
// Мінімальна ширина макету
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
//Ширина обмежуючого контейнеру
$maxWidthContainer: 1236;
// Загальний відступ в контейнера
// ( 30 = по 15px зліва і права, якщо 0 - відступів немає )
$containerPadding: 30;
//Ширина спрацювання першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
/*--------------БРЕЙК-ПОІНТИ------------*/
$pc: em($containerWidth);   // Пк, ноутбуки, деякі планшети в горизонтальному положенні
$tablet: em(991.98);    //Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98);    //Телефон L
$mobileSmall: em(479.98);   //Телефон S
//------Вибір типу адаптування------
$responsiveType: 1; //якщо 2 - по БРЕЙК-ПОІНТАМ
@if ($responsiveType==1) {
    // Відзивчива
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($containerWidth);
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            @if ($maxWidthContainer>0) {
                padding: 0 rem(calc($containerPadding / 2));
            }
        }
    }
} @else {
    //По брейк-поінтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(calc($containerPadding / 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
        }
    }
}
/*=========MIXIN===========*/
@import "mixin";
/*====================ОБНУЛЕННЯ======================*/
@import "nule";
/*====================HEADER======================*/
@import "header";
/*====================FOOTER======================*/
@import "footer";
/*=========BASE===========*/
@import "base";
/*====================БЕМ БЛОКИ ТА ЗАГОЛОВКИ======================*/
@import "common";
/*====================BODY======================*/
body {
    /*
    &._lock {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
    */
}
/*=================SPOLLERS==================*/
/*
.spollers {
    &._init {
        .spollers__title {
            cursor: pointer;
        }
    }
    &__title {
        cursor: default;
    }
}
*/
/*--------------WRAPPER------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @supports (overflow:clip) {
        overflow: clip;
    }
    > main {
        flex: 1 1 auto;
    }
    /* Фікс для слайдера
    > * {
        min-width: 0;
    }
    */
}
/*--------------HERO------------*/
.page {
    &__hero {
    }
}
.hero {
    position: relative;
    &__container {
        position: relative;
        z-index: 2;
    }
    &__body {
        @include adaptiveValue('padding-top', 157, 30);
        @include adaptiveValue('padding-bottom', 115, 30);
    }
    &__title-block {
        margin: auto;
        margin-right: rem(-42);
        background-color: rgba(255, 243, 227, 1);
        border-radius: rem(10);
        max-width: rem(643);
        padding: rem(62) rem(43) rem(37) rem(39);
        @media (max-width: em(1350)) {
            margin-right: 0;
        }
        @media (max-width: $tablet) {
            max-width: rem(550);
            background-color: rgba(255, 243, 227, 0.8);
        }
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }
}
/*--------------CATEGORIES------------*/
.categories {
    @include adaptiveValue('padding-top', 48, 20);
    @include adaptiveValue('padding-bottom', 32, 10);
    &__container {
        max-width: rem(1184);
        text-align: center;
    }
    &__text {
        font-size: rem(20);
        line-height: 150%; /* 30/20 */
        &:not(:last-child) {
            margin-bottom: rem(62);
            @include adaptiveValue('margin-bottom', 62, 20);
        }
    }
    &__columns {
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(15);
        margin: rem(0) rem(-15);
        @media (max-width: $tablet) {
            margin: rem(0) rem(-10);
        }
    }
    &__column {
        padding: rem(0) rem(15);
        flex: 0 1 33.333%;
        @media (max-width: $tablet) {
            padding: rem(0) rem(10);
        }
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            &:last-child {
                flex: 0 1 100%;
                max-height: rem(350);
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 100%;
            max-height: rem(300);
            &:last-child {
                max-height: rem(300);
            }
        }
    }
    &__item {
    }
}
.item-categories {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__image {
        flex: 1 1 auto;
        border-radius: rem(10);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 30, 10);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.01);
                //box-shadow: 8px 12px 8px 0px rgba(0,0,0,0.34);
                box-shadow: 0px 0px 20px -1px rgba(64,63,64,0.5);
            }
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        a {
            color: $Grey;
            font-weight: 600;
            font-size: rem(24);
            transition: all 0.3s ease-in-out;
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                    transform: translate(0, rem(-5));
                }
            }
        }
    }
}
/*--------------OUR-PRODUCT------------*/
.our-products {
    @include adaptiveValue('padding-top', 32, 10);
    @include adaptiveValue('padding-bottom', 35, 15);
    &__container {
    }
    &__title {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 32, 18);
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
        gap: rem(32);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(auto-fill, minmax(rem(220), 1fr));
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fill, minmax(rem(210), 1fr));
            gap: rem(20);
        }
        &:not(:last-child) {
           @include adaptiveValue('margin-bottom', 44, 10);
        }
    }
    &__button {
        text-align: center;
        a {
            color: $gold;
            border: rem(2) solid $gold;
            padding: rem(12) rem(78);
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            position: relative;
            font-size: rem(18);
            &::after {
                position: absolute;
                visibility: hidden;
                content: "";
                width: 50px;
                height: 50px;
                border: 3px solid transparent;
                top: calc(-50% - rem(2));
                right: rem(-20);
                transform: rotate(45deg) translate(50%, 0);
                z-index: -1;
                transition: all 0.3s ease-in-out;
            }
            &::before {
                position: absolute;
                visibility: hidden;
                right: rem(-22);
                color: transparent;
                font-size: rem(20);
                transition: all 0.3s ease-in-out;
            }
            @media (any-hover: hover) {
                &:hover {
                    padding: rem(12) rem(60);
                    letter-spacing: rem(2);
                    &::after {
                        border: 3px solid $gold;
                        visibility: visible;
                    }
                    &::before {
                        color: $gold;
                        visibility: visible;
                    }
                }
            }
        }
    }
}
.product-card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (any-hover: hover) {
        &:hover {
            .product-card__link {
                opacity: 0.6;
                visibility: visible;
            }
            .action-card {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__link {
        position: absolute;
        z-index: 2;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: $darkGrey;
        transition: all 0.3s ease 0s;
    }
    &__top {
        position: relative;
    }
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1/1;
            @media (max-width: $mobileSmall) {
                max-height: rem(380);
            }
        }
    }
    &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: rem(24);
        right: rem(24);
        line-height: 150%;
        height: rem(48);
        width: rem(48);
        border-radius: 50%;
        overflow: hidden;
        color: $whiteColor;
        &.status-card__discounts {
            background-color: $lightRed;
        }
        &.status-card__new {
            background-color: $aquamarine;
        }
    }
    &__content {
        flex: 0 1 100%;
        background-color: #F4F5F7;
        padding: rem(16) rem(20) rem(30) rem(16);
    }
    &__title {
        display: inline-flex;
        color: $darkGrey;
        font-weight: 600;
        font-size: rem(24);
        line-height: 120%;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }
    &__description {
        font-weight: 500;
        line-height: 150%;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $darkGrey;
        line-height: 150%;
        font-weight: 600;
        font-size: rem(20);
    }
    &__old-price {
        color: $lightGrey;
        line-height: 150%;
        font-size: rem(16);
        text-decoration: line-through;
    }
}
.action-card {
    &.action-card-on-mobile {
        opacity: 1;
        visibility: visible;
        bottom: 0;
        left: 0;
        transform: translate(0);
        .action-card__body {
            bottom: 0;
            left: 0;
            transform: translate(0);
        }
        .action-card__items {
            margin-bottom: rem(10);
        }
        .action-card__item {
            color: $Grey;
        }
        .product-card__content {
            padding: rem(16) rem(20) rem(45) rem(16);
        }
    }
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    transition: all 0.3s ease 0.1s;
    &__body {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: rem(0) rem(20);
    }
    &__button {
        position: relative;
        padding: rem(12) rem(54);
        font-weight: 600;
        color: $gold;
        background-color: $whiteColor;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $whiteColor;
                background-color: $gold;
            }
        }
        &.button-on-mobile {
            
            width: 100%;
            font-size: rem(16);
            padding: rem(12) rem(54);
            border: rem(1) solid $gold;
        }
    }
    &__items {
        display: flex;
        column-gap: rem(20);
    }
    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: rem(2);
        color: $whiteColor;
        line-height: 150%;
        font-weight: 600;
        font-size: rem(16);
        transition: column-gap 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                column-gap: rem(7);
            }
        }
    }
}

